# OS
.DS_Store
Thumbs.db

# Docs locales (no versionar)
docs/

# Env / secrets
.env
.env.*
!.env.example

# .NET
backend/**/bin/
backend/**/obj/
*.user
*.suo
.vs/

# Node / Expo
mobile/node_modules/
mobile/.expo/
mobile/dist/
mobile/web-build/
npm-debug.*
yarn-error.log

# IDE
.idea/
*.swp
